/* Put all fonts here!*/
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Orbitron:wght@700&display=swap');


/* These are the defult styles*/
body{
    background-color: #536f50;
    /* change the font*/
    font-family: 'Orbitron', sans-serif;
    color:rgb(19, 18, 18);
    margin: 0;
    
}

h1,
h2 {
    font-family: 'Averia Sans Libre', sans-serif;
}


/*********************************Header*************************************/
header { 
    background-color: #86A5A9;
    /*center the text*/
    text-align: center;
    /*add padding - 30 pixels*/
    padding: 15px;
    
}

/*only one thing on the page that is different - use an ID*/
/*hashtag # - Octothorpe */
/******************Words under front pic********************/
#diffI {
    color: rgb(3, 32, 41)
}

/*************************Image**************************/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

/************************navigation bar*************************************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #012c36;
    /*fixed top*/
    
}

nav li {
    float: left;

}
/********NAV BAR********************/
nav a, nav a:visited {
    display: block;
    padding: 20px;
    text-decoration: none;
    color:white;
}

/*hover state for the nave buttons*/
/*pseudo-class for hovering*/
nav a:hover{
    background-color: #50260a;
}

 /* NEW class for the sticky navigation*/
 .sticky{
    position: -webkit-sticky; 
    /* Safari */
    position: sticky;
    top: 0;
 }

/*****************************Section****************************************/
section {
    background-color: #18acc2;
    /*no pixel amount - use percent or viewport width*/
    width: 70vw;
    /*center the sections but top & bottom pacing is none*/
    /*top, bottom - left and right*/
    margin: 0 auto;
    /*adds space inside the sections*/
    padding: 25px;
    /*fix the issue with the image height not being recognized by the section*/
    overflow: hidden;
}

/*CLASS - reusable bit of css that you can put on elements*/
/*start in css with a dot (period)*/
.alternate {
    background-color:  #8f6537;
}

section img{
    float:left;
    margin-right:20px
}


/**************************Footer*****************************************/
/*change the background colour
center the text
add some nice padding*/

footer{

    background-color: #86A5A9;
    text-align: center;
    padding: 30px;
}

/**********************Styled Links****************************************/
/*MUST be in this order*/
/*defult*/

a:visited{
    color:rgb(9, 84, 184)

}
a:hover{
    color:rgb(0, 255, 106)
}
a:active{
    color:white
}